# Bỏ qua thư viện nặng của React và Python
node_modules/
__pycache__/
*.pyc

# Bỏ qua môi trường ảo và dữ liệu database Docker cục bộ
venv/
env/

db_data/
postgres_data/

# Bỏ qua các file cấu hình hệ điều hành
.DS_Store
Thumbs.db

# Bỏ qua media upload và file tạm
backend/media/
scratch/
celerybeat-schedule
